/* Custom Styles for each project */

#bc-inner-image{
  background-image: url("/assets/bigcommerceheader.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

#bc-customer-bg{
  background-image: url("/assets/nbsbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
