/*

BP Skins - define colour classes from BP colour variables

*/

/* Background Colours */

.bg-bp-blue { background-color: var(--bp-blue); }
.bg-bp-accent { background-color: var(--bp-accent); }
.bg-bp-red { background-color: var(--bp-red); }
.bg-bp-yellow { background-color: var(--bp-yellow); }
.bg-bp-grey { background-color: var(--bp-grey); }
.bg-bp-purple { background-color: var(--bp-purple); }
.bg-bp-lg { background-color: var(--bp-light-grey); }

/* Font Colours */

.bp-blue { color: var(--bp-blue); }
.bp-accent { color: var(--bp-accent); }
.bp-red { color: var(--bp-red); }
.bp-yellow { color: var(--bp-yellow); }
.bp-grey { color: var(--bp-grey); }
.bp-purple { color: var(--bp-purple); }
.bp-lg { color: var(--bp-light-grey); }
