/*

Brightpearl Font imports and declarations - current fonts are Gilroy for headers
and Proxima nova for body

*/

/* Import BP Fonts */

/* GILROY */

@font-face {
    font-family : 'Gilroy';
    src         : url('/assets/fonts/gilroy/gilroy-regular.otf') format('opentype'), url('/assets/fonts/gilroy/gilroy-regular.woff') format('woff'), url('/assets/fonts/gilroy/gilroy-regular.woff2') format('woff2');
    font-weight : normal;
}
@font-face {
    font-family : 'Gilroy';
    src         : url('/assets/fonts/gilroy/gilroy-medium.otf') format('opentype'), url('/assets/fonts/gilroy/gilroy-medium.woff') format('woff'), url('/assets/fonts/gilroy/gilroy-medium.woff2') format('woff2');
    font-weight : 500;
}
@font-face {
    font-family : 'Gilroy';
    src         : url('/assets/fonts/gilroy/gilroy-semibold.otf') format('opentype'), url('/assets/fonts/gilroy/gilroy-semibold.woff') format('woff'), url('/assets/fonts/gilroy/gilroy-semibold.woff2') format('woff2');
    font-weight : 600;
}
@font-face {
    font-family : 'Gilroy';
    src         : url('/assets/fonts/gilroy/gilroy-bold.otf') format('opentype'), url('/assets/fonts/gilroy/gilroy-bold.woff') format('woff'), url('/assets/fonts/gilroy/gilroy-bold.woff2') format('woff2');
    font-weight : bold;
}

/* Proxima */

@font-face {
    font-family : 'ProximaNova';
    src         : url('/assets/fonts/proxima-nova/proxima-nova-light.otf') format('opentype'), url('/assets/fonts/proxima-nova/proxima-nova-light.woff') format('woff'), url('/assets/fonts/proxima-nova/proxima-nova-light.woff2') format('woff2');
    font-weight : 200;
}
@font-face {
    font-family : 'ProximaNova';
    src         : url('/assets/fonts/proxima-nova/proxima-nova-regular.otf') format('opentype'), url('/assets/fonts/proxima-nova/proxima-nova-regular.woff') format('woff'), url('/assets/fonts/proxima-nova/proxima-nova-regular.woff2') format('woff2');
    font-weight : normal;
}
@font-face {
    font-family : 'ProximaNova';
    src         : url('/assets/fonts/proxima-nova/proxima-nova-semibold.otf') format('opentype'), url('/assets/fonts/proxima-nova/proxima-nova-semibold.woff') format('woff'), url('/assets/fonts/proxima-nova/proxima-nova-semibold.woff2') format('woff2');
    font-weight : 600;
}
@font-face {
    font-family : 'ProximaNova';
    src         : url('/assets/fonts/proxima-nova/proxima-nova-bold.otf') format('opentype'), url('/assets/fonts/proxima-nova/proxima-nova-bold.woff') format('woff'), url('/assets/fonts/proxima-nova/proxima-nova-bold.woff2') format('woff2');
    font-weight : bold;
}



/* Define Classes for BP Fonts */

.gilroy {

  font-family: 'Gilroy', 'helvetica neue', helvetica,
                ubuntu,
                roboto, noto,
                'segoe ui', arial,
                sans-serif;

}

.proxima {

  font-family: 'ProximaNova', 'helvetica neue', helvetica,
                ubuntu,
                roboto, noto,
                'segoe ui', arial,
                sans-serif;

}
