/* Brightpearl Colour Variables

*/


:root {

--bp-blue:  #0a308e;
--bp-accent: #24dec9;
--bp-red: #f94f5b;
--bp-yellow: #ffb200;
--bp-grey: #999999;
--bp-purple: #4e19bd;
--bp-light-grey: #f6f9fc;

}
