/* Adds Additional Vertical Heights - good for headers */


.vh-60 {  height:  60vh; }
.vh-65 {  height:  65vh; }
.vh-80 {  height:  80vh; }
.vh-90 {  height:  90vh; }
.vh-95 {  height:  90vh; }


@media (--breakpoint-not-small) {
  .vh-60-ns {  height:  60vh; }
  .vh-65-ns {  height:  65vh; }
  .vh-80-ns {  height:  80vh; }
}
