/* Makes Sure Tachyons plays nice with squarespace styles */


.sqsp{
  max-width: 1085px;
  margin: 0 auto;
  padding: 96px 32px;
}



@media (max-width: 1440px){
  h1 {
      font-size: 2.25rem!important;
  }
}
